{% extends 'borders.html' %}
{% block title %}Document Information{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="login">
                    <div class="card card-outline-primary">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <!-- {{form}} -->
                            <div style="margin-bottom: 15px">
                                <input type="radio" id="doc_type"
                                    name="doc_type" value="H_Written" required>Handwritten Document<br>
                                <input type="radio" id="doc_type"
                                    name="doc_type" value="T_Written">Computerized Document
                            </div>
                            <div class="form-group form-inline">
                                <label for="title">Document Name:</label>
                                    <input type="text" class="form-control" id="doc_title"
                                        name="doc_title" required>
                                <label for="pages">Number of Pages:</label>
                                <input type="number" class="form-control" name="doc_pages" id="doc_pages" min="1" max="20" required>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Submit</button><br>
                        </form>
                    </div><!-- card card-outline-primary -->
                </div><!-- login -->
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
    {% if messages %}
        {% for message in messages %}
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <center>{{ message }}</center>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
{% endblock %}