{% extends 'borders.html' %}
{% block title %}Upload from feeder{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="home-option">
                <div class="col-xs-12">
                    <div class="card card-outline-primary">
                        <p>Done Scanning!</p><br>
                        <p>Your files are now ready to upload.</p>
                        <form action="" method="POST">
                        {% csrf_token %}
                            <center>
                                <button type="submit" class="btn btn-outline-primary btn-inst"><p>Upload</p></button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <center>{{ message }}</center>
                        </div>
                    </div>
                </div> 
            </div>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
{% endblock %}